.array{
    display: flex;
    gap: 15px;
    justify-content: center;
    overflow-x: auto;
}
.array-el{
    position: relative;
    text-align: center;
    border-radius: 2px;
    padding: 0 5px;
    transition: all ease 300ms;
}

.elt-label{
    color: black;
    position:absolute;
    top: -25px;
    left: 50%;
    transform: translate(-50%,0);
}